header {
  display: flex;
  height: 520px;
  width: 100%;
  padding: 160px;
  justify-content: center;
  background-color: #003575;
  background-image: url("https://www.transparenttextures.com/patterns/debut-light.png");
}


.pic-container {
  display: flex;
  flex-direction: column;
}


.name {
  display: flex;
  justify-self: center;
  align-self: center;
  color: white;
}


.prof-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}